Hi. I am learning Python Here

In [2]:
string1 = "HELLO WORLD!"
print(string1)

HELLO WORLD!

In [6]:
string1[0:5]

'HELLO'

In [19]:
string2 = 3*(" " + string1)
print (string2)

 HELLO WORLD! HELLO WORLD! HELLO WORLD!

In [21]:
len(string2)

39

In [22]:
string1.swapcase()

'hello world!'

In [24]:
print(string1)

HELLO WORLD!

In [25]:
string1.upper()

'HELLO WORLD!'

In [36]:
string1.replace("!", "!!!")

'HELLO WORLD!!!'

In [43]:
1^1

0

In [44]:
2^2

0

In [45]:
7/3

2.3333333333333335

In [46]:
7//3

2

In [47]:
7 % 3

1

In [56]:
list1 = ["hello cruel", "world", "!"]
print (list1)

['hello cruel', 'world', '!']

In [59]:
list1[0][2]

'l'

In [60]:
list1 [1:3]

['world', '!']

In [62]:
list1[0]= "goodbye"
print(list1)

['goodbye', 'world', '!']

In [63]:
list2 = [5, 4.0, "pony"]
print(list2)

[5, 4.0, 'pony']

In [66]:
list1.append(list2)
print(list1[3][2])

pony

In [67]:
print(list1)

['goodbye', 'world', '!', [5, 4.0, 'pony'], [5, 4.0, 'pony']]

In [70]:
print(list1[3][2])

pony

In [72]:
list3 = (list1[3][2].capitalize())
print (list3)

Pony

In [75]:
list1.reverse()
print(list1)

[[5, 4.0, 'pony'], [5, 4.0, 'pony'], '!', 'world', 'goodbye']

In [88]:
list1.append ("goodbye")
print (list1)

[[5, 4.0, 'pony'], [5, 4.0, 'pony'], '!', 'world', 'goodbye', 'goodbye']

In [89]:
list1.remove("world")
print(list1)

[[5, 4.0, 'pony'], [5, 4.0, 'pony'], '!', 'goodbye', 'goodbye']

In [93]:
list1.remove("goodbye")
print(list1)

[[5, 4.0, 'pony'], [5, 4.0, 'pony'], '!']

In [94]:
dict1 = {"one":"un", "two": "deux", "three":"trois"}
dict1

{'one': 'un', 'three': 'trois', 'two': 'deux'}

In [95]:
print (dict1)

{'two': 'deux', 'three': 'trois', 'one': 'un'}

In [96]:
dict1["two"]

'deux'

In [99]:
"two" in dict1

True

In [100]:
"trois" in dict1

False

In [113]:
def print2x(theString):
    print(theString * 2)
    testvar=

In [114]:
print2x("this is my really great string ")

this is my really great string this is my really great string

In [118]:
fruit = "banana"
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [119]:
fruit = "banana"
index = 0
while index < len(fruit):
    print(fruit[index])
    index = index + 1

b
a
n
a
n
a

In [ ]:
fruit = "banana"
index = 0
while index < len(fruit):
    print(fruit[index])
    index += 1

In [ ]:
fruit = "banana"
for water in fruit:
    print(water)